# Ignore all
*

# Except these extensions
!*.c
!*.cc
!*.cpp
!*.h
!*.hpp
!*.jar
!*.java
!*.js
!*.am
!*.xml
!*.md

# And not these specific files
!.gitignore
!README.md
!LICENSE
!javax.usb.properties

# Not these directories and their contents
!java
!java/usbsid-usb-driver-library-java/
!java/usbsid-usb-driver-library-java/lib
!java/usbsid-usb-driver-library-java/lib/**
!java/usbsid-usb-driver-library-java/src
!java/usbsid-usb-driver-library-java/src/**
!java/usbsid-usb-driver-library-java/test/
!java/usbsid-usb-driver-library-java/test/**
!java/usbsid-usb-driver-library-java/resources
!java/usbsid-usb-driver-library-java/resources/javax.usb.properties
!java/usbsid-usb-driver-library-java/resources/logging.properties
!java/usbsid-usb-driver-library-java/target/
!vice-makefile
!vice-makefile/*
!webusb
!webusb/*
