# Ignore all
*

# Except these extensions
!*.c
!*.cc
!*.cpp
!*.h
!*.hpp
!*.java
!*.js
!*.am
!*.xml

# And not these specific files
!.gitignore
!README.md
!LICENSE
!javax.usb.properties

# Not these directories and their contents
!java/usbsid-usb-driver-library-java/
!java/usbsid-usb-driver-library-java/src/main/
!vice-makefile
!vice-makefile/*
!webusb
!webusb/*
